<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
<!-- ENDING SURVEY -->
<div class="experiment experiment--13">
    <div class="experiment__viz d-flex align-items-center justify-content-center w-100">
        <div class="text-left w-50">
            <form action='/postResponse' method='POST' >
                <h4>Question 13</h4>
                <p>On a scale of 1 to 5, how easy is it to understand 2d bar charts?</p>
                <input type="number" name="input-13" class="form-control mb-1" />

                <h4>Question 14</h4>
                <p>On a scale of 1 to 5, how easy is it to understand 2d heatmaps?</p>
                <input type="number" name="input-14" class="form-control mb-1" />

                <h4>Question 15</h4>
                <p>On a scale of 1 to 5, how easy is it to understand 2d piecharts?</p>
                <input type="number" name="input-15" class="form-control mb-1" />

                <h4>Question 16</h4>
                <p>On a scale of 1 to 5, how easy is it to understand 3d bar charts?</p>
                <input type="number" name="input-16" class="form-control mb-1" />

                <h4>Question 17</h4>
                <p>On a scale of 1 to 5, how easy is it to understand 3d heatmaps?</p>
                <input type="number" name="input-17" class="form-control mb-1" />

                <h4>Question 18</h4>
                <p>On a scale of 1 to 5, how easy is it to understand 3d piecharts?</p>
                <input type="number" name="input-18" class="form-control mb-1" />
                <br>
                <br>
                <input class="btn btn-primary experiment__btn-next" type='submit'>
            </form>
        </div>
    </div>
</div>
</body>
</html>
