<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="./js/scripts.js" defer></script>
<%- include("./partials/nav.ejs") %>

<svg class="svg1" width="600px" height="600px"></svg>

<%- include("./partials/footer.ejs") %>

</body>
</html>
