<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>


<script src="./js/scripts.js" defer></script>
<%- include("./partials/nav.ejs") %>

<svg class="svg1" width="600px" height="600px"></svg>
<button onclick="orderBarGraph()">Order</button>
<div id="webGL-container"></div>

<svg class="svgPie" width="600px" height="600px"></svg>
<button onclick="orderPieGraph()">Order</button>
<!--<div id="Pie" style="width: 500px; height: 500px; margin: 0 auto;"></div>-->
<div id="chartdiv" width="100%" height="500px"></div>




</body>
</html>
