<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>


<div class="experiment-container">
    <div class="experiment experiment--0">
        <div class="experiment__viz d-flex align-items-center justify-content-center w-100">
            <div class="text-center">
                <p>Experiment Introduction</p>
                <p>In this experiment you will be asked to get bla bla bla.</p>
                <p>
                    There are {NUM} questions and you will take an estimate of {10}
                    minutes to complete this experiment.
                </p>
                <p>
                    We won't record any information except your answers. Click "Submit"
                    to begin the experiment.
                </p>
                <form id="formExperiment" action='/test1' method='POST'>
                    <!-- <input type='text' name='userId' placeholder="Username"> -->
                    <br>
                    <br>
                    <input class="btn btn-primary experiment__btn-next" type='submit' value="Next">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    $('#formExperiment').submit(function() {

        const userId = (Math.random() + 1).toString(36).substring(2) + (Math.random() + 1).toString(36).substring(2);
        document.cookie = "userId=" + userId;

        return true;
    });
    
</script>

</body>
</html>
