html, body {
  margin: 0;
}

.header {
  height: 64px;
  background: #ddd;
}

.experiment-container {
  height: calc(100vh - 64px);
  position: relative;
}

.experiment {
  position: relative;
  display: flex;
  height: 100%;
}

.experiment__viz {
  width: 50%;
}

.experiment__qa {
  width: 50%;
  padding: 1rem;
  background: #f0f0f0;
}
